![USD](usd.png)

### University of San Diego 

### Master of Science, Applied Data Science 

#### Contributors

- Ebad Akhter
- Kevin Baum
- Salvador Sanchez

***

In [12]:
#Libraries
import pandas as pd
from datetime import datetime

In [13]:
#function to download yearly data
def Get_Data(year):
    url = f"https://seshat.datasd.org/pd/pd_calls_for_service_{year}_datasd.csv"
    df = pd.read_csv(url)
    return df

In [14]:
#Current year
current_year = datetime.now().year

In [30]:
#Current Data
current_data = Get_Data(current_year)
#Last Year
last_year_data = Get_Data(current_year-1)
last_year_data

,incident_num,date_time,day_of_week,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,address_sfx_intersecting,call_type,disposition,beat,priority
0,E22010000001,2022-01-01 00:00:00,7,1300,NaN,MORAEA,ST,NaN,NaN,NaN,AU1,DUP,452,1
1,E22010000002,2022-01-01 00:00:07,7,600,NaN,BROADWAY,NaN,NaN,NaN,NaN,1186,CAN,524,3
2,E22010000003,2022-01-01 00:00:08,7,700,NaN,GRAND,AVE,NaN,NaN,NaN,1186,K,122,3
3,E22010000004,2022-01-01 00:00:15,7,4600,NaN,AIR,WAY,NaN,NaN,NaN,MPSSTP,K,447,2
4,E22010000005,2022-01-01 00:00:22,7,4700,NaN,MISSION BAY,DR,NaN,NaN,NaN,AU1,DUP,122,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499251,E22120042144,2022-12-31 23:58:29,7,6700,NaN,AMHERST,ST,NaN,NaN,NaN,AU1,DUP,821,1
499252,E22120042145,2022-12-31 23:58:32,7,1000,NaN,05TH,AVE,NaN,NaN,NaN,911,CAN,523,1
499253,E22120042146,2022-12-31 23:59:03,7,4400,NaN,VISION,DR,NaN,NaN,NaN,AU1,W,115,1
499254,E22120042147,2022-12-31 23:59:44,7,4900,NaN,BEAUCHAMP,CT,NaN,NaN,NaN,459A,CAN,934,2
499255,E22120042148,2022-12-31 23:59:52,7,5200,NaN,REX,AVE,NaN,NaN,NaN,1131,K,827,1

In [20]:
current_data.describe()

,day_of_week,address_number_primary,address_dir_intersecting,address_sfx_intersecting,beat,priority
count,23738.000000,23738.000000,0.0,0.0,23738.000000,23738.000000
mean,3.792948,3357.407532,NaN,NaN,493.267798,2.106875
std,1.899299,3375.697381,NaN,NaN,237.621195,1.221927
min,1.000000,0.000000,NaN,NaN,-1.000000,0.000000
25%,2.000000,600.000000,NaN,NaN,313.000000,1.000000
50%,4.000000,2800.000000,NaN,NaN,521.000000,2.000000
75%,5.000000,4800.000000,NaN,NaN,627.000000,3.000000
max,7.000000,53500.000000,NaN,NaN,937.000000,9.000000

In [31]:
last_year_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499256 entries, 0 to 499255
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   incident_num               499256 non-null  object
 1   date_time                  499256 non-null  object
 2   day_of_week                499256 non-null  int64
 3   address_number_primary     499256 non-null  int64
 4   address_dir_primary        23135 non-null   object
 5   address_road_primary       499187 non-null  object
 6   address_sfx_primary        455019 non-null  object
 7   address_dir_intersecting   0 non-null       float64
 8   address_road_intersecting  85382 non-null   object
 9   address_sfx_intersecting   0 non-null       float64
 10  call_type                  498640 non-null  object
 11  disposition                497161 non-null  object
 12  beat                       499256 non-null  int64
 13  priority                   499256 non-null  int64
dtypes: float64(2), int64(4), object(8)
memory usage: 53.3+ MB

In [42]:
#Expore Data
def Explore_Date(df):
    #Clean Data
    df = df.dropna(how='all', axis=1)
    
    #Initial table
    freqDF = pd.DataFrame(columns=['Feature',
                                   'Mode',
                                   'Mode Freq.',
                                   'Mode %',
                                   '2nd Mode',
                                   '2nd Mode Freq.',
                                   '2nd Mode %'])
    for col in df.columns:
        freq = df[col].value_counts()
        freqdf = freq.to_frame()
        fRow = freqdf.iloc[0]
        secRow = freqdf.iloc[1]
        fPrct = fRow[0] / len(df[col])
        secPrct = secRow[0] / len(df[col])
        try:
            mode1 = int(fRow.name)
        except:
            mode1 = fRow.name
        try:
            mode2 = int(secRow.name)
        except:
            mode2 = secRow.name
        data = {'Feature':col,
                'Mode':mode1,
                'Mode Freq.':fRow[0],
                'Mode %':fPrct,\
                '2nd Mode':mode2,
                '2nd Mode Freq.':secRow[0],
                '2nd Mode %':secPrct}
        freqDF.loc[len(freqDF)] = data

    freqDF = freqDF.set_index('Feature')

    #Nulls, Counts, Cardinality
    NUllFeatures = round(df.isnull().sum() / df.shape[0],4)\
          .sort_values(ascending=False)
    Count = df.count()
    uni = df.nunique()

    #Formating
    NUllFeatures.to_frame(name="% Miss.")
    Count.to_frame(name="Count")
    uni.to_frame()
    result = pd.concat([Count, NUllFeatures,uni], axis=1)
    result.columns =["Count","% Miss.","Card."]
    result = pd.concat([result, freqDF], axis=1)
    return result

In [44]:
Explore_Date(last_year_data).style.format({'% Miss.': "{:.1%}",
                         'Mode %': "{:.0%}",
                         '2nd Mode %': "{:.0%}",
                         'Count': "{:,}",
                         'Card.': "{:,}",
                         'Mode Freq.': "{:,}",
                        '2nd Mode Freq.': "{:,}"})