![USD](usd.png)

### University of San Diego 

### Master of Science, Applied Data Science 

#### Contributors

- Ebad Akhter
- Kevin Baum
- Salvador Sanchez

***

In [12]:
#Libraries
import pandas as pd
from datetime import datetime

In [13]:
#function to download yearly data
def Get_Data(year):
    url = f"https://seshat.datasd.org/pd/pd_calls_for_service_{year}_datasd.csv"
    df = pd.read_csv(url)
    return df

In [14]:
#Current year
current_year = datetime.now().year

In [15]:
#Current Data
current_data = Get_Data(current_year)
current_data

,incident_num,date_time,day_of_week,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,address_sfx_intersecting,call_type,disposition,beat,priority
0,E23010000001,2023-01-01 00:00:05,1,0,NaN,05TH,AVE,NaN,G,NaN,FD,CAN,523,2
1,E23010000002,2023-01-01 00:00:30,1,0,NaN,SHOPS INFO LOG,NaN,NaN,NaN,NaN,SHOPS,W,-1,4
2,E23010000003,2023-01-01 00:00:57,1,0,NaN,05TH,AVE,NaN,G,NaN,FD,DUP,523,2
3,E23010000004,2023-01-01 00:01:15,1,600,NaN,FERGUS,ST,NaN,NaN,NaN,AU1,K,433,1
4,E23010000005,2023-01-01 00:02:17,1,0,NaN,CHP INFO LOG,NaN,NaN,NaN,NaN,INFOCHP,W,-1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23733,E23010025543,2023-01-18 23:39:02,4,4300,NaN,OCEAN,BLV,NaN,NaN,NaN,SELENF,CAN,122,3
23734,E23010025544,2023-01-18 23:39:12,4,3000,NaN,MOORE,ST,NaN,NaN,NaN,AU2,W,611,2
23735,E23010025548,2023-01-18 23:41:48,4,0,NaN,STATE ROUTE 94 EB OFF RAMP,NaN,NaN,NaN,NaN,MPSSTP,K,-1,2
23736,E23010025549,2023-01-18 23:43:44,4,12900,NaN,EL CAMINO REAL,NaN,NaN,NaN,NaN,T,K,934,2
23737,E23010025551,2023-01-18 23:47:33,4,700,NaN,GRAND,AVE,NaN,NaN,NaN,FD,O,122,2

In [ ]:
# Testing