![USD](usd.png)

### University of San Diego 

### Master of Science, Applied Data Science 

#### Contributors

- Ebad Akhter
- Kevin Baum
- Salvador Sanchez

***

In [1]:
#Libraries
import pandas as pd
from datetime import datetime

In [2]:
#function to download yearly data
def Get_Data(year):
    url = f"https://seshat.datasd.org/pd/pd_calls_for_service_{year}_datasd.csv"
    df = pd.read_csv(url)
    return df

In [3]:
#Current year
current_year = datetime.now().year

In [4]:
#Current Data
current_data = Get_Data(current_year)
current_data

,incident_num,date_time,day_of_week,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,address_sfx_intersecting,call_type,disposition,beat,priority
0,E23010000001,2023-01-01 00:00:05,1,0,NaN,05TH,AVE,NaN,G,NaN,FD,CAN,523,2
1,E23010000002,2023-01-01 00:00:30,1,0,NaN,SHOPS INFO LOG,NaN,NaN,NaN,NaN,SHOPS,W,-1,4
2,E23010000003,2023-01-01 00:00:57,1,0,NaN,05TH,AVE,NaN,G,NaN,FD,DUP,523,2
3,E23010000004,2023-01-01 00:01:15,1,600,NaN,FERGUS,ST,NaN,NaN,NaN,AU1,K,433,1
4,E23010000005,2023-01-01 00:02:17,1,0,NaN,CHP INFO LOG,NaN,NaN,NaN,NaN,INFOCHP,W,-1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46413,E23020004886,2023-02-03 23:34:38,6,0,NaN,TEXAS,ST,NaN,UNIVERSITY,NaN,415V,K,813,1
46414,E23020004888,2023-02-03 23:36:22,6,1200,NaN,INSPIRATION,DR,NaN,NaN,NaN,459A,X,124,2
46415,E23020004889,2023-02-03 23:38:08,6,5500,NaN,MIRA MESA,BLV,NaN,NaN,NaN,T,K,931,2
46416,E23020004890,2023-02-03 23:39:03,6,9200,NaN,GOLD COAST,DR,NaN,NaN,NaN,415,K,242,2
46417,E23020004891,2023-02-03 23:39:07,6,100,NaN,PARK,PLZ,NaN,NaN,NaN,FD,K,541,2