In [46]:
#Libraries
import mysql.connector
import pandas as pd
from datetime import datetime
from tqdm import tqdm
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import requests

## DB Coonnect

In [47]:
database = "San_Diego_PD_Calls"
user = 'Salvador'
password = getpass.getpass(‘Enter password: ’),
host = 'localhost'
GOOGLE_API_KEY = 'XXXXX'
user_agent_name = 'Sal-App'

In [48]:
#Initial Connection
cnx = mysql.connector.connect(user=user,
                              password=password,
                              host=host,
                              database=database
                              )
cursor = cnx.cursor()

##  Find if Row exists

In [49]:
def Find_Data(row,cursor,table, key):
    try:
        #print(f"SELECT * from {table} where {key} = '{row[key]}'")
        cursor.execute(f"SELECT * from {table} where {key} = '{row[key]}'")
        # Fetch a record
        result = cursor.fetchone()
    except:
        result = 0
    
    return result

## Load Variables

In [50]:
#Calls
url = f"http://seshat.datasd.org/pd/pd_cfs_calltypes_datasd.csv"
call_type = pd.read_csv(url).dropna(axis=1)

In [51]:
#Dispos
url = f"http://seshat.datasd.org/pd/pd_dispo_codes_datasd.csv"
disposition = pd.read_csv(url).dropna(axis=1)
disposition.loc[len(disposition.index)] = ['DEF', 'DEF'] 
disposition.loc[len(disposition.index)] = ['SS-', 'SS-']

In [52]:
#Beats
beat = pd.read_csv('beat-neighborhood.csv').dropna(axis=1)
beat_split = beat['beat,neighborhood'].str.split(pat=",",
                                                 expand=True)
beat_split = beat_split.rename(columns={0: "beat",
                                        1: "neighborhood"})
beat_split.loc[len(beat_split.index)] = [-1, 'No Beat']
beat_split.loc[len(beat_split.index)] = [700, '700'] 
beat_split.loc[len(beat_split.index)] = [62, '62']
beat_split.loc[len(beat_split.index)] = [63, '63']
beat_split.loc[len(beat_split.index)] = [64, '64'] 
beat_split.loc[len(beat_split.index)] = [0, '0'] 
beat_split.loc[len(beat_split.index)] = [300, '300']
beat_split.loc[len(beat_split.index)] = [9, '9']

In [53]:
# Create dataframe
days = pd.DataFrame({
    'day_of_week':list(range(1,8)),
    'day':['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'],
})

In [54]:
# df to dict
call_type_dict = call_type.to_dict('records')
disposition_dict = disposition.to_dict('records')
beat_dict = beat_split.to_dict('records')
days_dict = days.to_dict('records')

In [55]:
# SQL Variable Tables
SQL_Tables = pd.DataFrame({
    'Table':['Call_types','Dispositions','Beats'],
    'Key':['call_type','dispo_code','beat'],
    'Col2':['description','description','neighborhood'],
    'dict':[call_type_dict,disposition_dict,beat_dict]
})
SQL_Tables_dict = SQL_Tables.to_dict('records')

In [56]:
#Load Data
def Load_Data(row,cursor,table,Col1,Col2):
    # Create a new record
    sql = f"""INSERT INTO {table} ({Col1},
                                    {Col2}
                                    ) VALUES (%s, %s)"""

    # Execute the query
    cursor.execute(sql, (row[Col1],row[Col2]))
    cnx.commit()

In [57]:
for upper_row in tqdm(SQL_Tables_dict):
    for row in upper_row['dict']:
        Data_Found = Find_Data(row,cursor,
                               upper_row['Table'],
                               upper_row['Key'])
        if Data_Found is None:
            #If no data found load 
            Load_Data(row,
                      cursor,
                      upper_row['Table'],
                      upper_row['Key'],
                      upper_row['Col2'])
        else:
            pass

100%|█████████████████████████████████████████████| 3/3 [00:00<00:00, 11.39it/s]

# Load Historical Calls

In [58]:
#function to download yearly data
def Get_Data(year):
    url = f"https://seshat.datasd.org/pd/pd_calls_for_service_{year}_datasd.csv"
    df = pd.read_csv(url)
    return df

In [59]:
Years = list(range(2020,datetime.now().year +1))
Years

[2020, 2021, 2022, 2023]

### Load Calls

In [60]:
#Calls
def Load_Calls(row,cursor,table,year):
    # Create a new record
    sql = f"""INSERT INTO {table} ( incident_num,
                                    incident_date_time,
                                    call_type,
                                    dispo_code,
                                    beat,
                                    priority,
                                    incident_year
                                    ) VALUES (%s,%s,%s,%s,%s,%s,%s)"""

    # Execute the query
    cursor.execute(sql, (row['incident_num'],
                         row['date_time'],
                         row['call_type'],
                         row['disposition'],
                         row['beat'],
                         row['priority'],
                         year,
                        )
                  )
    cnx.commit()

In [61]:
#Calls
def Load_Calls_NoBeat(row,cursor,table,year):
    # Create a new record
    sql = f"""INSERT INTO {table} ( incident_num,
                                    incident_date_time,
                                    call_type,
                                    dispo_code,
                                    beat,
                                    priority,
                                    incident_year
                                    ) VALUES (%s,%s,%s,%s,%s,%s,%s)"""

    # Execute the query
    cursor.execute(sql, (row['incident_num'],
                         row['date_time'],
                         row['call_type'],
                         row['disposition'],
                         0,
                         row['priority'],
                         year,
                        )
                  )
    cnx.commit()

In [64]:
for year in Years:
    yearly_data = Get_Data(year)
    yearly_data_dict = yearly_data.to_dict('records')
    for row in tqdm(yearly_data_dict):
        
        #Load Service Calls
        Table = 'Service_calls'
        Key = 'incident_num'
        #Verify if Data is in table
        Data_Found = Find_Data(row,cursor,Table,Key)
        if Data_Found is None:
            #If no data found load
            try:
                Load_Calls(row,cursor,Table,year)
            except:
                try:
                    Load_Calls_NoBeat(row,cursor,Table,year)
                except:
                    print(row)
                
        else:
            pass

100%|█████████████████████████████████| 567290/567290 [05:17<00:00, 1784.31it/s]
100%|█████████████████████████████████| 568947/568947 [04:38<00:00, 2045.63it/s]
100%|█████████████████████████████████| 499256/499256 [04:07<00:00, 2018.49it/s]
100%|███████████████████████████████████| 50287/50287 [00:28<00:00, 1764.96it/s]

### Load Address

In [65]:
#Address
def Load_Calls_Address(row,cursor,table):
    address_list = [row['address_number_primary'],
               row['address_dir_primary'],
               row['address_road_primary'],
               row['address_sfx_primary'],
                    'San Diego CA'
                   ]
    
    def concatenate_elements(elements):
        result = ''
        for element in elements:
            if element is not None and not pd.isnull(element) and element != 0:
                result += str(element) + ' '
        return result.strip()
    
    
    address = concatenate_elements(address_list)
    
    # Create a new record
    sql = f"""INSERT INTO {table} ( incident_num,
                                    address_number_primary,
                                    address_dir_primary,
                                    address_road_primary,
                                    address_sfx_primary,
                                    address_dir_intersecting,
                                    address_road_intersecting,
                                    address_sfx_intersecting,
                                    address
                                    ) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)"""

    # Execute the query
    cursor.execute(sql, (row['incident_num'],
                         row['address_number_primary'],
                         row['address_dir_primary'],
                         row['address_road_primary'],
                         row['address_sfx_primary'],
                         row['address_dir_intersecting'],
                         row['address_road_intersecting'],
                         row['address_sfx_intersecting'],
                         address
                        )
                  )
    cnx.commit()

In [ ]:
#Load Address
for year in Years:
    yearly_data = Get_Data(year)
    yearly_data_dict = yearly_data.to_dict('records')
    for row in tqdm(yearly_data_dict):
        #Load Service Calls Address        
        Table = 'Address'
        Key = 'incident_num'
        #Verify if Data is in table
        Data_Found = Find_Data(row,cursor,Table,Key)
        if Data_Found is None:
            #If no data found load
            try:
                Load_Calls_Address(row,cursor,Table)
            except:
                print(row)
                
                
        else:
            pass

 96%|███████████████████████████████▌ | 542927/567290 [06:13<00:17, 1354.65it/s]

In [45]:
#Testing Area
import math

incident_num = 'E20010005786'
address_number_primary = 0
address_dir_primary = math.nan
address_road_primary = 'BARNETT'
address_sfx_primary = 'AVE'
address_dir_intersecting = math.nan
address_road_intersecting = 'PACIFIC HWY SB ON RAMP'
address_sfx_intersecting = math.nan




address_list = [address_number_primary,
               address_dir_primary,
               address_road_primary,
               address_sfx_primary,
                    'San Diego CA'
                   ]
    
def concatenate_elements(elements):
    result = ''
    for element in elements:
        if element is not None and not pd.isnull(element) and element != 0:
            result += str(element) + ' '
    return result.strip()


address = concatenate_elements(address_list)

# Create a new record
sql = f"""INSERT INTO Address( incident_num,
                                address_number_primary,
                                address_dir_primary,
                                address_road_primary,
                                address_sfx_primary,
                                address_dir_intersecting,
                                address_road_intersecting,
                                address_sfx_intersecting,
                                address
                                ) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)"""

# Execute the query
cursor.execute(sql, (incident_num,
                     address_number_primary,
                     address_dir_primary,
                     address_road_primary,
                     address_sfx_primary,
                     address_dir_intersecting,
                     address_road_intersecting,
                     address_sfx_intersecting,
                     address
                    )
              )
cnx.commit()

### Lat and Long

In [21]:
#Connect to DB
engine = create_engine(f"mysql://{user}:{password}@{host}/{database}")
connection = engine.connect()

In [31]:
import time

In [37]:
start_time = time.time()
result = connection.execute(
    """
    SELECT incident_num,address from Address
    limit 100

    """)
column_names = result.keys()
rows = result.fetchall()
result_df = pd.DataFrame(rows, columns=column_names)
Address_Book = result_df
Address_Book
end_time = time.time()
query_time_improved = end_time - start_time
print("The query took %s seconds to execute" % query_time_improved)

The query took 0.005410671234130859 seconds to execute

In [36]:
query_time_improved / query_time

0.0191647784273244

In [101]:
def Lat_Long(address):
    lat, lng  = None, None
    api_key = GOOGLE_API_KEY
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    endpoint = f"{base_url}?address={address}&key={api_key}"
    r = requests.get(endpoint)
    if r.status_code not in range(200, 299):
        #error
        return None, None
    try:
        #found
        results = r.json()['results'][0]
        lat = results['geometry']['location']['lat']
        lng = results['geometry']['location']['lng']
        
    except:
        pass
    return lat, lng

def DF_GeoCode(row):
    column_name = 'address'
    address_value = row[column_name]
    address_lat, address_lng = Lat_Long(address_value)
    row['lat'] = address_lat
    row['lng'] = address_lng
    
    return row

In [102]:
Address_Book = Address_Book.apply(DF_GeoCode, axis=1)
Address_Book

    incident_num                                address        lat         lng
0   E20010000001              400 06TH AVE San Diego CA  32.709558 -117.159488
1   E20010000002       5000 UNIVERSITY AVE San Diego CA  32.749684 -117.086831
2   E20010000003          800 SAWTELLE AVE San Diego CA  32.713182 -117.027953
3   E20010000004       5000 UNIVERSITY AVE San Diego CA  32.749684 -117.086831
4   E20010000005  5200 CLAIREMONT MESA BLV San Diego CA  32.834461 -117.178710
..           ...                                    ...        ...         ...
95  E20010000101                 2800 A ST San Diego CA  32.718980 -117.133865
96  E20010000102              3500 AERO CT San Diego CA  32.807117 -117.148494
97  E20010000104             CLAIREMONT DR San Diego CA  32.811799 -117.200921
98  E20010000105                  INFO LOG San Diego CA  32.715738 -117.161084
99  E20010000106         4100 MANZANITA DR San Diego CA  32.734972 -117.106891

[100 rows x 4 columns]

In [103]:
#Lat and Long
def Load_LL(row,cursor,table):
    # Create a new record
    sql = f"""INSERT INTO {table} ( incident_num,
                                    lat,
                                    lng
                                    ) VALUES (%s,%s,%s)"""

    # Execute the query
    cursor.execute(sql, (row['incident_num'],
                         row['lat'],
                         row['lng']
                        )
                  )
    cnx.commit()

In [104]:
for row in tqdm(Address_Book.to_dict('records')):
    Data_Found = Find_Data(row,
                           cursor,
                           'GeoLocations',
                           'incident_num')

    if Data_Found is None:
        #If no data found load 
        Load_LL(row,
                  cursor,
                  'GeoLocations')
    else:
        pass

100%|███████████████████████████████████████| 100/100 [00:00<00:00, 1491.81it/s]

### ZipCode

In [ ]:
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim

In [ ]:
result = connection.execute(
    """
    SELECT incident_num,lat,lng from GeoLocations

    """)
column_names = result.keys()
rows = result.fetchall()
ZipCode_Book = pd.DataFrame(rows, columns=column_names)
ZipCode_Book = ZipCode_Book.head(100)
ZipCode_Book

In [121]:
def get_zipcode(df, geolocator, lat_field, lon_field):
    try:
        location = geolocator.reverse((df[lat_field], df[lon_field]))
        result = location.raw['address']['postcode']
    except:
        result = None
    return result

In [124]:
geolocator = Nominatim(user_agent = user_agent_name)
zipcodes = ZipCode_Book.apply(get_zipcode,
                            axis=1,
                            geolocator=geolocator,
                            lat_field='lat',
                            lon_field='lng'
                           )

In [128]:
ZipCode_Book['Zipcode'] = zipcodes
ZipCode_Book

    incident_num        lat          lng Zipcode
0   E20010000001  32.709558  -117.159488   92101
1   E20010000002  32.749684  -117.086831   92105
2   E20010000003  32.713182  -117.027953   92114
3   E20010000004  32.749684  -117.086831   92105
4   E20010000005  32.834461  -117.178710   92117
..           ...        ...          ...     ...
95  E20010000101  32.718980  -117.133865   92102
96  E20010000102  32.807117  -117.148495   92123
97  E20010000104  32.811799  -117.200921   92140
98  E20010000105  32.715738  -117.161084   92101
99  E20010000106  32.734972  -117.106891   92105

[100 rows x 4 columns]

In [129]:
#Lat and Long
def Load_Zipcode(row,cursor,table):
    # Create a new record
    sql = f"""INSERT INTO {table} ( incident_num,
                                    Zipcode
                                    ) VALUES (%s,%s)"""

    # Execute the query
    cursor.execute(sql, (row['incident_num'],
                         row['Zipcode']
                        )
                  )
    cnx.commit()

In [131]:
for row in tqdm(ZipCode_Book.to_dict('records')):
    Data_Found = Find_Data(row,
                           cursor,
                           'Zipcodes',
                           'incident_num')

    if Data_Found is None:
        #If no data found load 
        Load_Zipcode(row,
                  cursor,
                  'Zipcodes')
    else:
        pass

100%|███████████████████████████████████████| 100/100 [00:00<00:00, 1333.43it/s]