In [40]:
#Library
import mysql.connector
from mysql.connector import errorcode

# Initial Connection

In [41]:
#Database
database = 'SDPD'

In [42]:
#Initial Connection
cnx = mysql.connector.connect(user='Salvador',
                              password='XXXXX',
                              host='localhost',
                              )
cursor = cnx.cursor()

# Drop if necessary

In [43]:
#Drop DB
mycursor = cnx.cursor()
mycursor.execute("DROP DATABASE " + database)

DatabaseError: 1317 (70100): Query execution was interrupted

# DB Setup

In [ ]:
def Create_DB(cursor):
    try:
        cursor.execute(
            "CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(database))
    except mysql.connector.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)

try:
    cursor.execute("USE {}".format(database))
    print("Using {}".format(database))
except mysql.connector.Error as err:
    print("Database {} does not exists. Will Create".format(database))
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        Create_DB(cursor)
        print("Database {} created successfully.".format(database))
        cnx.database = database
    else:
        print(err)
        exit(1)

# Tables

In [34]:
#Tables

#initiate dictionary
TABLES = {}

#Add tables
TABLES['Beats'] = (
    "CREATE TABLE `Beats` ("
    "  `beat` smallint NOT NULL,"
    "  `neighborhood` varchar(25) NOT NULL,"
    "  PRIMARY KEY (`beat`), UNIQUE KEY `neighborhood` (`neighborhood`)"
    ") ")

TABLES['Dispositions'] = (
    "CREATE TABLE `Dispositions` ("
    "  `dispo_code` varchar(3) NOT NULL,"
    "  `description` tinytext NOT NULL,"
    "  PRIMARY KEY (`dispo_code`)"
    ") ")

TABLES['Call_type'] = (
    "CREATE TABLE `Call_types` ("
    "  `call_type` varchar(10) NOT NULL,"
    "  `description` tinytext NOT NULL,"
    "  PRIMARY KEY (`call_type`)"
    ") ")

TABLES['Days'] = (
    "CREATE TABLE `Days` ("
    "  `day_of_week` enum('1','2','3','4','5','6','7') NOT NULL,"
    "  `day` varchar(9) NOT NULL,"
    "  PRIMARY KEY (`day_of_week`)"
    ") ")

TABLES['ServiceCalls'] = (
    "CREATE TABLE `Service_calls` ("
    "  `incident_num` varchar(13) NOT NULL,"
    "  `incident_date_time` datetime NOT NULL,"
    "  `day_of_week` enum('1','2','3','4','5','6','7') NOT NULL,"
    "  `call_type` varchar(10) NULL,"
    "  `dispo_code` varchar(3) NULL,"
    "  `beat` smallint NOT NULL,"
    "  `priority` tinyint NOT NULL,"
    "  `incident_year` year NOT NULL,"
    "  PRIMARY KEY (`incident_num`),"
    "  CONSTRAINT `service_calls_beat` FOREIGN KEY (`beat`)"
    "     REFERENCES `Beats` (`beat`),"
    "  CONSTRAINT `service_calls_dispo` FOREIGN KEY (`dispo_code`)"
    "     REFERENCES `Dispositions` (`dispo_code`),"
    "  CONSTRAINT `service_calls_call_type` FOREIGN KEY (`call_type`)"
    "     REFERENCES `Call_types` (`call_type`),"
    "  CONSTRAINT `service_calls_day` FOREIGN KEY (`day_of_week`)"
    "     REFERENCES `Days` (`day_of_week`)"
    ") ")

TABLES['Address'] = (
    "CREATE TABLE `Address` ("
    "  `incident_num` varchar(13) NOT NULL,"
    "  `address_number_primary` int(6)  NULL,"
    "  `address_dir_primary` int(6)  NULL,"
    "  `address_road_primary` varchar(25) NULL,"
    "  `address_sfx_primary` varchar(10) NULL,"
    "  `address_dir_intersecting` varchar(10) NULL,"
    "  `address_road_intersecting` varchar(10) NULL,"
    "  `address_sfx_intersecting` varchar(10) NULL,"
    "  `address` varchar(80) NOT NULL,"
    "  PRIMARY KEY (`incident_num`),"
    "  CONSTRAINT `Address_ibfk_1` FOREIGN KEY (`incident_num`)"
    "     REFERENCES `Service_calls` (`incident_num`)"
    ") ")

TABLES['GeoLocations'] = (
    "CREATE TABLE `GeoLocations` ("
    "  `incident_num` varchar(13) NOT NULL,"
    "  `lat` Decimal(8,6) NOT NULL,"
    "  `lng` Decimal(9,6) NOT NULL,"
    "  PRIMARY KEY (`incident_num`),"
    "  CONSTRAINT `GeoLocations_ibfk_1` FOREIGN KEY (`incident_num`)"
    "     REFERENCES `Service_calls` (`incident_num`)"
    ") ")

TABLES['Zipcodes'] = (
    "CREATE TABLE `Zipcodes` ("
    "  `incident_num` varchar(13) NOT NULL,"
    "  `Zipcode` MEDIUMINT(5) NOT NULL,"
    "  PRIMARY KEY (`incident_num`),"
    "  CONSTRAINT `Zipcodes_ibfk_1` FOREIGN KEY (`incident_num`)"
    "     REFERENCES `Service_calls` (`incident_num`)"
    ") ")

In [35]:
cursor = cnx.cursor()

for table_name in TABLES:
    table_description = TABLES[table_name]
    try:
        print("Creating table {}: ".format(table_name), end='')
        cursor.execute(table_description)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        print("OK")

cursor.close()
cnx.close()

Creating table Beats: OK
Creating table Dispositions: OK
Creating table Call_type: OK
Creating table Days: OK
Creating table ServiceCalls: OK
Creating table Address: OK
Creating table GeoLocations: OK
Creating table Zipcodes: OK