In [9]:
#Libraries
import mysql.connector
import pandas as pd
from datetime import datetime
from tqdm import tqdm

#from secrets import dbpassword

In [10]:
#Initial Connection
cnx = mysql.connector.connect(user='root',
                              password='xxxx',
                              host='localhost',
                              database="SDPD"
                              )
cursor = cnx.cursor()

In [11]:
#function to download yearly data
def Get_Data(year):
    url = f"https://seshat.datasd.org/pd/pd_calls_for_service_{year}_datasd.csv"
    df = pd.read_csv(url)
    return df

In [15]:
url = f"http://seshat.datasd.org/pd/pd_cfs_calltypes_datasd.csv"
call_type = pd.read_csv(url).dropna(axis=1)
call_type

    call_type                description
0        1016        PRISONER IN CUSTODY
1      1016PT   PTU (PRISONER TRANSPORT)
2      1016QC      SHOPLIFTER/QUICK CITE
3        1021         PHONE YOUR STATION
4       1021H            PHONE YOUR HOME
..        ...                        ...
284       TLO  TERRORISM LIAISON OFFICER
285        TP            TRAFFIC PURSUIT
286       TRO      TRO VIOLATION, REPORT
287     VARDA                VARDA ALARM
288   WARRANT                    WARRANT

[289 rows x 2 columns]

In [16]:
url = f"http://seshat.datasd.org/pd/pd_dispo_codes_datasd.csv"
disposition = pd.read_csv(url).dropna(axis=1)
disposition.loc[len(disposition.index)] = ['DEF', 'DEF'] 
disposition
disposition

   dispo_code                                        description
0           X  DISPATCHED ALARM CALL CANCELLED BEFORE UNIT ON...
1           A                                        ARREST MADE
2          AB                      ARREST MADE, BOARD AND SECURE
3         AHR      ARREST MADE, HIGH RISK (CRISIS RESPONSE TEAM)
4           R                                             REPORT
5          RB                     REPORT TAKEN, BOARD AND SECURE
6         RHR           REPORT, HIGH RISK (CRISIS RESPONSE TEAM)
7           S                STOLEN VEHICLE OR RECOVERED VEHICLE
8           O                                              OTHER
9         OHR            OTHER, HIGH RISK (CRISIS RESPONSE TEAM)
10          K                                 NO REPORT REQUIRED
11         KB               NO REPORT REQUIRED, BOARD AND SECURE
12        KHR  NO FURTHER ACTION, HIGH RISK (CRISIS RESPONSE ...
13          U                                          UNFOUNDED
14          W  NO DISPATCH OR INCIDENT CANCLLED PRIOR TO DISP...
15        CAN                                             CANCEL
16        DUP                             DUPLICATE CALL, XREF'D
17          V                                     DUPLICATE CALL
18        DEF                                                DEF

In [17]:
beat = pd.read_csv('beat-neighborhood.csv').dropna(axis=1)
beat_split = beat['beat,neighborhood'].str.split(pat=",",
                                                 expand=True)
beat_split = beat_split.rename(columns={0: "beat",
                                        1: "neighborhood"})
beat_split.loc[len(beat_split.index)] = [-1, 'No Beat'] 
beat_split

    beat          neighborhood
0    111  Clairemont Mesa East
1    112  Clairemont Mesa West
2    113                Bay Ho
3    114      North Clairemont
4    115       University City
..   ...                   ...
121  934         Carmel Valley
122  935            North City
123  936      Torrey Highlands
124  937  Black Mountain Ranch
125   -1               No Beat

[126 rows x 2 columns]

In [18]:
# Create dataframe
days = pd.DataFrame({
    'day_of_week':list(range(1,8)),
    'day':['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'],
})
days

   day_of_week        day
0            1     Sunday
1            2     Monday
2            3    Tuesday
3            4  Wednesday
4            5   Thursday
5            6     Friday
6            7   Saturday

In [21]:
# df to dict
call_type_dict = call_type.to_dict('records')
disposition_dict = disposition.to_dict('records')
beat_dict = beat_split.to_dict('records')
days_dict = days.to_dict('records')

In [22]:
def Find_Data(row,cursor,table, key):
    try:
        #print(f"SELECT * from {table} where {key} = '{row[key]}'")
        cursor.execute(f"SELECT * from {table} where {key} = '{row[key]}'")
        # Fetch a record
        result = cursor.fetchone()
    except:
        result = 0
    
    return result

In [25]:
#Call Type
def Load_Call_Type(row,cursor,table):
    # Create a new record
    sql = f"""INSERT INTO {table} (call_type,
                                    description
                                    ) VALUES (%s, %s)"""

    # Execute the query
    cursor.execute(sql, (row['call_type'],row['description']))
    cnx.commit()

In [26]:
#Disposition
def Load_Dispo(row,cursor,table):
    # Create a new record
    sql = f"""INSERT INTO {table} (dispo_code,
                                    description
                                    ) VALUES (%s, %s)"""

    # Execute the query
    cursor.execute(sql, (row['dispo_code'],row['description']))
    cnx.commit()

In [27]:
#beat
def Load_Beat(row,cursor,table):
    # Create a new record
    sql = f"""INSERT INTO {table} (beat,
                                    neighborhood
                                    ) VALUES (%s, %s)"""

    # Execute the query
    cursor.execute(sql, (row['beat'],row['neighborhood']))
    cnx.commit()

In [28]:
#Load Data
def Load_Data(row,cursor,table,Col1,Col2):
    # Create a new record
    sql = f"""INSERT INTO {table} ({Col1},
                                    {Col2}
                                    ) VALUES (%s, %s)"""

    # Execute the query
    cursor.execute(sql, (row[Col1],row[Col2]))
    cnx.commit()

In [29]:
for row in tqdm(call_type_dict):
    #Verify if Data is in table
    Data_Found = Find_Data(row,cursor,'Call_types','call_type')
    if Data_Found is None:
        #If no data found load 
        Load_Call_Type(row,cursor,'Call_types')
    else:
        pass

100%|███████████████████████████████████████| 289/289 [00:00<00:00, 1682.08it/s]

In [30]:
for row in tqdm(disposition_dict):
    #Verify if Data is in table
    Data_Found = Find_Data(row,cursor,'Dispositions','dispo_code')
    if Data_Found is None:
        #If no data found load 
        Load_Dispo(row,cursor,'Dispositions')
    else:
        pass

100%|██████████████████████████████████████████| 19/19 [00:00<00:00, 586.94it/s]

In [31]:
for row in tqdm(beat_dict):
    #Verify if Data is in table
    Data_Found = Find_Data(row,cursor,'Beats','beat')
    if Data_Found is None:
        #If no data found load 
        Load_Beat(row,cursor,'Beats')
    else:
        pass

100%|███████████████████████████████████████| 126/126 [00:00<00:00, 1353.28it/s]

In [ ]:
for row in tqdm(days_dict):
    Table = 'Days'
    Key = 'day_of_week'
    Col2 = 'day'
    #Verify if Data is in table
    Data_Found = Find_Data(row,cursor,Table,Key)
    if Data_Found is None:
        #If no data found load 
        Load_Data(row,cursor,Table,Key,Col2)
    else:
        pass

In [32]:
#Calls
def Load_Calls(row,cursor,table,year):
    # Create a new record
    sql = f"""INSERT INTO {table} ( incident_num,
                                    incident_date_time,
                                    day_of_week,
                                    call_type,
                                    dispo_code,
                                    beat,
                                    priority,
                                    incident_year
                                    ) VALUES (%s,%s,%s,%s,%s,%s,%s,%s)"""

    # Execute the query
    cursor.execute(sql, (row['incident_num'],
                         row['date_time'],
                         row['day_of_week'],
                         row['call_type'],
                         row['disposition'],
                         row['beat'],
                         row['priority'],
                         year,
                        )
                  )
    cnx.commit()

In [33]:
Years = list(range(2022,datetime.now().year +1))
Years

[2022, 2023]

In [35]:
Years = [2021]
Years

[2021]

In [36]:
for year in Years:
    yearly_data = Get_Data(year)
    yearly_data_dict = yearly_data.to_dict('records')
    for row in tqdm(yearly_data_dict):
        Table = 'Service_calls'
        Key = 'incident_num'
        #Verify if Data is in table
        Data_Found = Find_Data(row,cursor,Table,Key)
        if Data_Found is None:
            #If no data found load
            try:
                Load_Calls(row,cursor,Table,year)
            except:
                print(row)
                

        else:
            print('error')
            print(row)

  0%|▏                                  | 2342/568947 [00:01<05:32, 1702.46it/s]

{'incident_num': 'E21010002172', 'date_time': '2021-01-02 12:18:55', 'day_of_week': 7, 'address_number_primary': 1600, 'address_dir_primary': nan, 'address_road_primary': 'PAC', 'address_sfx_primary': 'HWY', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': 'DEMO', 'disposition': 'K', 'beat': 700, 'priority': 2}

  7%|██▌                               | 41855/568947 [00:24<05:12, 1687.33it/s]

{'incident_num': 'E21010044301', 'date_time': '2021-01-28 03:58:32', 'day_of_week': 5, 'address_number_primary': 5400, 'address_dir_primary': nan, 'address_road_primary': 'CASINO', 'address_sfx_primary': 'WY', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': 'FU', 'disposition': 'K', 'beat': 300, 'priority': 2}

 12%|████▏                             | 69570/568947 [00:40<04:57, 1676.60it/s]

{'incident_num': 'E21020022897', 'date_time': '2021-02-14 13:05:11', 'day_of_week': 1, 'address_number_primary': 0, 'address_dir_primary': nan, 'address_road_primary': 'M 01ST ST W', 'address_sfx_primary': nan, 'address_dir_intersecting': nan, 'address_road_intersecting': 'UNNAMED MILITARY', 'address_sfx_intersecting': nan, 'call_type': 'AU1', 'disposition': 'W', 'beat': 0, 'priority': 1}

 26%|████████▍                        | 145826/568947 [01:25<04:06, 1719.04it/s]

{'incident_num': 'E21040003371', 'date_time': '2021-04-02 20:44:13', 'day_of_week': 6, 'address_number_primary': 1600, 'address_dir_primary': nan, 'address_road_primary': 'PAC', 'address_sfx_primary': 'HWY', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '1150', 'disposition': 'K', 'beat': 700, 'priority': 2}

 34%|███████████▏                     | 193526/568947 [01:52<03:39, 1711.75it/s]

{'incident_num': 'E21050003116', 'date_time': '2021-05-02 22:05:09', 'day_of_week': 1, 'address_number_primary': 1600, 'address_dir_primary': nan, 'address_road_primary': 'PAC', 'address_sfx_primary': 'HWY', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': 'CW', 'disposition': 'DUP', 'beat': 700, 'priority': 1}

 46%|███████████████▏                 | 261644/568947 [02:32<03:00, 1706.42it/s]

{'incident_num': 'E21060021831', 'date_time': '2021-06-13 12:13:27', 'day_of_week': 1, 'address_number_primary': 2800, 'address_dir_primary': nan, 'address_road_primary': 'EMERSON', 'address_sfx_primary': 'ST', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '10852R', 'disposition': 'CAN', 'beat': 0, 'priority': 3}

 61%|████████████████████▏            | 347491/568947 [03:22<02:09, 1711.17it/s]

{'incident_num': 'E21080006741', 'date_time': '2021-08-04 21:29:04', 'day_of_week': 4, 'address_number_primary': 2800, 'address_dir_primary': nan, 'address_road_primary': 'EMERSON', 'address_sfx_primary': 'ST', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '10851R', 'disposition': 'W', 'beat': 0, 'priority': 2}

 62%|████████████████████▌            | 353690/568947 [03:26<02:05, 1714.95it/s]

{'incident_num': 'E21080013325', 'date_time': '2021-08-08 21:06:01', 'day_of_week': 1, 'address_number_primary': 1700, 'address_dir_primary': nan, 'address_road_primary': 'PACIFIC', 'address_sfx_primary': 'HWY', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '1131A', 'disposition': 'K', 'beat': 700, 'priority': 1}

 63%|████████████████████▋            | 355930/568947 [03:27<02:04, 1716.51it/s]

{'incident_num': 'E21080015774', 'date_time': '2021-08-10 11:02:19', 'day_of_week': 3, 'address_number_primary': 5400, 'address_dir_primary': nan, 'address_road_primary': 'CASINO', 'address_sfx_primary': 'WY', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': 'AU1', 'disposition': 'W', 'beat': 300, 'priority': 1}

 76%|████████████████████████▉        | 429834/568947 [04:10<01:22, 1693.90it/s]

{'incident_num': 'E21090042734', 'date_time': '2021-09-25 17:47:50', 'day_of_week': 7, 'address_number_primary': 1600, 'address_dir_primary': nan, 'address_road_primary': 'PAC', 'address_sfx_primary': 'HWY', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': 'FD', 'disposition': 'O', 'beat': 700, 'priority': 2}

 76%|█████████████████████████        | 431027/568947 [04:11<01:21, 1701.86it/s]

{'incident_num': 'E21090044042', 'date_time': '2021-09-26 12:40:31', 'day_of_week': 1, 'address_number_primary': 1700, 'address_dir_primary': nan, 'address_road_primary': 'PACIFIC', 'address_sfx_primary': 'HWY', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': 'AU1', 'disposition': 'W', 'beat': 700, 'priority': 1}

 76%|█████████████████████████▏       | 433590/568947 [04:13<01:19, 1700.21it/s]

{'incident_num': 'E21090046894', 'date_time': '2021-09-28 08:31:33', 'day_of_week': 3, 'address_number_primary': 0, 'address_dir_primary': nan, 'address_road_primary': '01ST', 'address_sfx_primary': 'AVE', 'address_dir_intersecting': nan, 'address_road_intersecting': 'BROADWAY', 'address_sfx_intersecting': nan, 'call_type': '10851R', 'disposition': 'SS-', 'beat': 525, 'priority': 2}
{'incident_num': 'E21090047020', 'date_time': '2021-09-28 09:51:03', 'day_of_week': 3, 'address_number_primary': 11200, 'address_dir_primary': nan, 'address_road_primary': 'SPITFIRE', 'address_sfx_primary': 'RD', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '10851R', 'disposition': 'SS-', 'beat': 242, 'priority': 2}

 76%|█████████████████████████▏       | 434104/568947 [04:13<01:19, 1705.13it/s]

{'incident_num': 'E21090047322', 'date_time': '2021-09-28 12:48:25', 'day_of_week': 3, 'address_number_primary': 11200, 'address_dir_primary': nan, 'address_road_primary': 'LEE', 'address_sfx_primary': 'WAY', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '10851R', 'disposition': 'SS-', 'beat': 242, 'priority': 2}

 76%|█████████████████████████▏       | 435132/568947 [04:14<01:18, 1706.33it/s]

{'incident_num': 'E21090048446', 'date_time': '2021-09-29 05:51:21', 'day_of_week': 4, 'address_number_primary': 1200, 'address_dir_primary': nan, 'address_road_primary': '09TH', 'address_sfx_primary': 'AVE', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '10851R', 'disposition': 'SS-', 'beat': 524, 'priority': 2}
{'incident_num': 'E21090048610', 'date_time': '2021-09-29 07:57:38', 'day_of_week': 4, 'address_number_primary': 2700, 'address_dir_primary': nan, 'address_road_primary': 'TREAT', 'address_sfx_primary': 'ST', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '10851R', 'disposition': 'SS-', 'beat': 517, 'priority': 2}

 77%|█████████████████████████▎       | 436679/568947 [04:14<01:17, 1716.07it/s]

{'incident_num': 'E21090050150', 'date_time': '2021-09-30 06:13:43', 'day_of_week': 5, 'address_number_primary': 2500, 'address_dir_primary': nan, 'address_road_primary': 'OLD QUARRY', 'address_sfx_primary': 'RD', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '10851R', 'disposition': 'SS-', 'beat': 315, 'priority': 2}

 77%|█████████████████████████▎       | 437365/568947 [04:15<01:17, 1700.16it/s]

{'incident_num': 'E21090050808', 'date_time': '2021-09-30 12:58:10', 'day_of_week': 5, 'address_number_primary': 3800, 'address_dir_primary': nan, 'address_road_primary': 'PENDIENTE', 'address_sfx_primary': 'CT', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '10851R', 'disposition': 'SS-', 'beat': 312, 'priority': 2}

 78%|█████████████████████████▋       | 443007/568947 [04:18<01:13, 1708.06it/s]

{'incident_num': 'E21100005344', 'date_time': '2021-10-04 08:32:21', 'day_of_week': 2, 'address_number_primary': 9400, 'address_dir_primary': nan, 'address_road_primary': 'CUSTOMHOUSE', 'address_sfx_primary': 'PLZ', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '10851R', 'disposition': 'SS-', 'beat': 713, 'priority': 2}

 78%|█████████████████████████▉       | 446108/568947 [04:20<01:11, 1716.52it/s]

{'incident_num': 'E21100008682', 'date_time': '2021-10-06 07:03:09', 'day_of_week': 4, 'address_number_primary': 9300, 'address_dir_primary': nan, 'address_road_primary': 'HILLERY', 'address_sfx_primary': 'DR', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '10851R', 'disposition': 'SS-', 'beat': 242, 'priority': 2}

 81%|██████████████████████████▋      | 459448/568947 [04:28<01:03, 1717.77it/s]

{'incident_num': 'E21100022916', 'date_time': '2021-10-14 16:57:45', 'day_of_week': 5, 'address_number_primary': 1600, 'address_dir_primary': nan, 'address_road_primary': 'PAC', 'address_sfx_primary': 'HWY', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '10851R', 'disposition': 'R', 'beat': 700, 'priority': 2}

 82%|███████████████████████████      | 466852/568947 [04:32<00:59, 1714.06it/s]

{'incident_num': 'E21100030681', 'date_time': '2021-10-19 13:03:05', 'day_of_week': 3, 'address_number_primary': 4100, 'address_dir_primary': nan, 'address_road_primary': 'CAMINO DE LA PLAZA', 'address_sfx_primary': nan, 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '10851R', 'disposition': 'SS-', 'beat': 712, 'priority': 2}

 86%|████████████████████████████▍    | 489949/568947 [04:46<00:46, 1712.57it/s]

{'incident_num': 'E21110006716', 'date_time': '2021-11-05 07:08:06', 'day_of_week': 6, 'address_number_primary': 400, 'address_dir_primary': nan, 'address_road_primary': 'UNIVERSITY', 'address_sfx_primary': 'PL', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '586', 'disposition': 'SS-', 'beat': 627, 'priority': 4}

 86%|████████████████████████████▍    | 491325/568947 [04:47<00:45, 1709.85it/s]

{'incident_num': 'E21110008154', 'date_time': '2021-11-06 01:00:11', 'day_of_week': 7, 'address_number_primary': 2100, 'address_dir_primary': nan, 'address_road_primary': 'WUESTE', 'address_sfx_primary': 'RD', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': 'CC', 'disposition': 'W', 'beat': 9, 'priority': 1}

 87%|████████████████████████████▊    | 496136/568947 [04:49<00:42, 1713.21it/s]

{'incident_num': 'E21110013337', 'date_time': '2021-11-09 09:15:51', 'day_of_week': 3, 'address_number_primary': 10600, 'address_dir_primary': nan, 'address_road_primary': 'WEXFORD', 'address_sfx_primary': 'ST', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '10851R', 'disposition': 'SS-', 'beat': 246, 'priority': 2}

 93%|██████████████████████████████▊  | 530954/568947 [05:10<00:22, 1720.35it/s]

{'incident_num': 'E21120004041', 'date_time': '2021-12-03 14:27:34', 'day_of_week': 6, 'address_number_primary': 8100, 'address_dir_primary': nan, 'address_road_primary': 'ROYAL GORGE', 'address_sfx_primary': 'DR', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': 'CC', 'disposition': 'SS-', 'beat': 325, 'priority': 3}

 96%|███████████████████████████████▌ | 544208/568947 [05:17<00:14, 1718.05it/s]

{'incident_num': 'E21120018335', 'date_time': '2021-12-13 00:53:35', 'day_of_week': 2, 'address_number_primary': 1700, 'address_dir_primary': nan, 'address_road_primary': 'PACIFIC', 'address_sfx_primary': 'HWY', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '1151', 'disposition': 'O', 'beat': 700, 'priority': 2}

 96%|███████████████████████████████▊ | 548858/568947 [05:20<00:11, 1712.42it/s]

{'incident_num': 'E21120023320', 'date_time': '2021-12-16 10:58:42', 'day_of_week': 5, 'address_number_primary': 1600, 'address_dir_primary': nan, 'address_road_primary': 'PAC', 'address_sfx_primary': 'HWY', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': 'FD', 'disposition': 'K', 'beat': 700, 'priority': 2}

 97%|███████████████████████████████▉ | 551606/568947 [05:22<00:10, 1709.49it/s]

{'incident_num': 'E21120026273', 'date_time': '2021-12-18 09:13:37', 'day_of_week': 7, 'address_number_primary': 0, 'address_dir_primary': nan, 'address_road_primary': nan, 'address_sfx_primary': nan, 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': 'INFO', 'disposition': 'W', 'beat': 0, 'priority': 2}

 98%|████████████████████████████████▏| 555925/568947 [05:24<00:07, 1721.01it/s]

{'incident_num': 'E21120030811', 'date_time': '2021-12-21 11:00:39', 'day_of_week': 3, 'address_number_primary': 2800, 'address_dir_primary': nan, 'address_road_primary': 'COMMERCIAL', 'address_sfx_primary': 'ST', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '10851RR', 'disposition': 'SS-', 'beat': 512, 'priority': 3}

 98%|████████████████████████████████▍| 559709/568947 [05:26<00:05, 1706.63it/s]

{'incident_num': 'E21120034745', 'date_time': '2021-12-24 07:39:01', 'day_of_week': 6, 'address_number_primary': 2200, 'address_dir_primary': nan, 'address_road_primary': 'WUESTE', 'address_sfx_primary': 'RD', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '10851', 'disposition': 'O', 'beat': 9, 'priority': 0}

 99%|████████████████████████████████▋| 562806/568947 [05:28<00:03, 1709.34it/s]

{'incident_num': 'E21120038161', 'date_time': '2021-12-26 23:39:41', 'day_of_week': 1, 'address_number_primary': 1600, 'address_dir_primary': nan, 'address_road_primary': 'PAC', 'address_sfx_primary': 'HWY', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '1151', 'disposition': 'O', 'beat': 700, 'priority': 2}

 99%|████████████████████████████████▋| 563491/568947 [05:29<00:03, 1704.55it/s]

{'incident_num': 'E21120038900', 'date_time': '2021-12-27 13:05:40', 'day_of_week': 2, 'address_number_primary': 3700, 'address_dir_primary': nan, 'address_road_primary': 'ALABAMA', 'address_sfx_primary': 'ST', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '10851RR', 'disposition': 'SS-', 'beat': 813, 'priority': 3}

100%|█████████████████████████████████| 568947/568947 [05:32<00:00, 1711.90it/s]